@font-face {
    font-family: 'Myriad Pro Light Italic';
    src: url('MyriadPro-LightIt.eot');
    src: url('MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'), url('MyriadPro-LightIt.woff') format('woff'), url('MyriadPro-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}