    * {
        padding: 0;
        margin: 0;
    }
    
    body {}
    
    .header {
        font-family: 'Myriad Pro Regular';
    }
    
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .bg {
        height: 880px;
        width: 1600px;
        background: url(./img/background1.png)center no-repeat;
    }
    
    .logo {
        float: left;
        margin: 22px 140px;
    }
    
    .menu__item {
        display: inline-block;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        margin: 55px 0;
        padding-right: 30px;
    }
    
    .menu {
        float: right;
    }
    
    .menu__icon {
        margin-left: 15px;
    }